
.icon-menu:before { content: '\e800'; } /* '' */
.icon-menu-outline:before { content: '\e801'; } /* '' */
.icon-plancast:before { content: '\e802'; } /* '' */
.icon-drupal:before { content: '\e803'; } /* '' */
.icon-flash:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-grav:before { content: '\f2d6'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */